@import '../../../scss/fontUtility';
.QualifiedServiceCard {
   width:100%;
    > .imgContainer {
        width:fit-content;
        margin:0 15px;

    }
    > .titleContainer {
        @include font_color(spl);
        font-size: 48px;
        font-weight: bold ;
        margin: 20px 0 ;
}
> .descContainer{
    @include font_color();
    font-size: 18px;
    font-weight:400;
    width: 450px;
    margin:20px 0;

}

}